@chwarset "utf-8";
.navbar {
	border-radius: 0;
}

.section {
	width: 100%;
	height: auto;
	padding-top: 8%;
}


/*关于我*/

.about {
	animation: gupIn 3s;
	-moz-animation: gupIn 3s;
	/* Firefox */
	-webkit-animation: gupIn 3s;
	/* Safari 和 Chrome */
	-o-animation: gupIn 3s;
}

.about h2 {
	font-size: 2rem;
	line-height: 24px;
}

.about span {
	display: block;
	line-height: 30px;
	font-size: 18px;
}

#xh {
	width: 50px;
	margin: 70px auto 0 auto;
}

#xh img {
	width: 100%;
}

.arrow {
	opacity: 1;
	animation: arrow 3s cubic-bezier(0.5, 0, 0.1, 1) infinite;
	-webkit-animation: arrow 3s cubic-bezier(0.5, 0, 0.1, 1) infinite;
	cursor: pointer;
	overflow: hidden;
}

.arrow:hover {
	animation-play-state: paused;
	-webkit-animation-play-state: paused;
}


/*标题*/

.title {
	padding-bottom:2%;
	margin-top:-2%;
}

.title h2 {
	font-size: 35px;
}

.title span {
	font-size: 22px;
}


/*我的作品*/

.anli li {
	margin-bottom: 20px;
	transition: all .2s linear;
}

.anli li:hover {
    transform: translate3d(0, -5px, 0);
     -webkit-filter:grayscale(1);
  }


.anli li img {
	width: 100%;
	border-radius: 10px;
}

.carousel-indicators li {
	border: 1px #ccc solid !important;
}

.carousel-indicators .active {
	background-color: red !important;
}


/*工作经历*/

.work-title {
	padding-top: 5%;
}

.work {
	margin-bottom: 80px;
}
.work p {
	margin-bottom:0px;
}

.work p span{
		font-weight:600;
	}



/*技能*/

.skills {
	padding-bottom: 10%;
}

.skills dt {
	font-size: 16px;
	line-height: 30px;
	margin-bottom: 15px;
}


/*联系*/

.contact {
	padding-bottom: 50px;
}

.contact dl dt {
	height: 25px;
	line-height: 25px;
	margin-bottom: 2px;
	font-size: 14px;
}

.contact dl dt i {
	display: block;
	float: left;
	width: 25px;
	height: 25px;
}

.contact dl dt:nth-child(1) i {
	background: url(../img/ico.png) 0 0 no-repeat;
}

.contact dl dt:nth-child(3) i {
	background: url(../img/ico.png) -28px 0 no-repeat;
}

.contact dl dt:nth-child(5) i {
	background: url(../img/ico.png) -56px 0 no-repeat;
}

.contact dl dt:nth-child(7) i {
	background: url(../img/ico.png) -84px 0 no-repeat;
}

.contact dl dd {
	line-height: 24px;
	font-size: 16px;
}

.contact p {
	width: 150px;
	height: 150px;
	margin: 30px;
	text-align: center;
	display: inline-block;
	float: right;
}

.contact p span {
	font-size: 14px;
	line-height: 30px;
}

.contact p img {
	width: 100%;
}


/*底部*/

footer {
	width: 100%;
	height: 50px;
	background: #000000;
	color: #FFFFFF;
	line-height: 50px;
	margin-bottom: -50px;
	font-size: 12px;
}


/*回到顶部*/

#top {
	position: fixed;
	right: 3%;
	bottom:5%;
	width: 50px;
	height: 50px;
	transition: .5s ease-out;
	transform: scale(0)
}


/*小于768px*/
@media (max-width: 768px) {
	.about {
		padding-top: 80px;
	}
	.about h2 {
		font-size: 1.5rem;
		padding: 0 15%;
	}
	.title h2 {
		font-size: 3rem;
	}
	
	
	.work{
			margin-bottom:5%;
	}
	.work h2{
		font-size: 2rem;
	}
	
	.work p{
		font-size:1.5rem;
		line-height: 24px;
	}
	
  .contact p{
  	width:95px;
  	height:95px;
  	margin: 0px 15px 30px 0;
  }
  
  .contact dl dd{
  	margin-bottom: 8px;
  }


}

/*小于320px*/
@media (max-width: 320px) {

  .contact p{
  	width:90px;
  	height:90px;
  	 margin: 0px 27px;
}

}